.btn_small {
    width           : 30px;
    height          : 30px;
    border-radius   : 50%;
    border          : 1px solid #797a7a;
    background-color: #fff;
    color           : #797a7a;
    transition      : .3s;
    cursor          : pointer;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.btn_small:hover {
    border-color    : #2574a9;
    background-color: #2574a9;
    color           : #fff;
}

.btn_small.isFill {
    border-color    : #2574a9;
    background-color: #2574a9;
    color           : #fff;
}

.btn_small.isFill:hover {
    color           : #2574a9;
    background-color: #fff;
}