# dependencies
backend-server/node_modules
backend-server/.pnp
backend-server/.pnp.js
client/node_modules
client/.pnp
client/.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
